* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E0D0D;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0;
}

.header {
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffffff00; 
    z-index: 1000; 
}


.input-container {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: start;
    color: #FFF;
    font-size: 1.25rem;
    color: #FFF;
    font-weight: 450;
}


.input-container button {
    flex: end;
    text-align: end;
}


#charInput1, #charInput2 {
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
    width: 9.125rem;
    flex: center;
}


#submitButton {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #555;
}


#status {
    color: #D7D6D6;
    font-size: 0.9375rem;
    font-weight: 450;
    text-align: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
}

.album-image {
    width: 55rem;
    object-fit: contain;
    align-self: center;
}

.name-and-year {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffff00; 
}


.albumTitle {
    font-style: italic;
    color: #FFF;
    font-size: 3.125rem;
    font-weight: 500;
    line-height: normal;
}

.albumYear {
    color: #FFF;
    text-align: right;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.albumTitle {
    font-style: italic;
}

.artist {
    display: flex;
    flex: start;
    padding-left: 2rem;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.controls {
    display: flex;
    justify-content: center;
}

/* Media query for mobile screens */
@media screen and (max-width: 430px) {
    .album-image {
        width: 22.4375rem;
        height: 18.3125rem;
        margin-top: 8rem;
    }

    .input-container {
        flex-direction: column;
        text-align: center;
    }

    #charInput1, #charInput2 {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    #submitButton {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}